<md-card>
    <h3>TODO's:</h3>

    <p>- add statistics charts</p>
    <p>- translate to italian</p>
    <p>- add admin/normal user groups</p>
    <p>- add validation when input new data</p>
    <s><p>- add table sort by all fields</p></s>
    <s><p>- add toastr messages for error, success, loading, etc</p></s>
    <s><p>- stretch table so i can fit more columns without scrolling</p></s>
    <s><p>- add all the data from excel to db</p></s>
    <s><p>- on page load show only last 7 days</p></s>
    <s><p>- add sort by custom period</p></s>
    <s><p>- add sort by year</p></s>
    <s> <p>- backup and restore DataBase </p></s>
</md-card>