<md-dialog aria-label="Add/Edit">
    <!--<form ng-submit="main.submitInterview(newInterview)" novalidate ng-cloak>-->
    <form ng-submit="submitEmployee(newEmployee)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="editedObject.username">Modifica Dipendente</h2>
                <h2 ng-if="!editedObject.username">Agiungi Dipendente</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>


        <md-dialog-content aria-label="MD Dialog Content">
            <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">

                <md-content aria-label="MD Content" md-theme="docs-dark" layout-padding="">
                    <div layout-gt-sm="row">
                        <md-input-container aria-label="MD Input Container" class="md-block" flex-gt-sm="">
                            <label>Cnp</label>
                            <input required aria-label="cnpInput" ng-model="newEmployee.cnp">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Departamento</label>
                            <md-select aria-label="departmentInput" ng-model="newEmployee.department">
                                <md-option ng-repeat="department in departments" value="{{department}}">
                                    {{department}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                    <div layout-gt-sm="row">
                        <!--<div ng-if="editedObject.username">
                                <input ng-click=Browse() class="ng-hide" id="input-file-id" file-model="file.upload" type="file" name="myfile" style="display: none">
                                <label for="input-file-id" class="md-button md-accent md-raised">Browse</label>

                                <md-button ng-click="SubmitUpload()" ng-disabled="!browseClicked" class="md-raised ">
                                    Upload CV
                                </md-button>
                                <i ng-if="newInterview.cv" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/uploads/{{newInterview.cv}}">face</a></i>

                                <div ng-show="message">
                                    <a ng-if="editedObject.username" href="http://localhost:3000/uploads/{{cv}}" target="_blank">{{file.upload.name}} </a> {{message}}
                                </div>
                                <div ng-show="!message">{{file.upload.name}}</div>
                            </div>-->
                        <span flex></span>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Creato da {{editedObject.username}}</label>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row">
            <!--<md-button type="file" ng-click="UploadFile()" type="file" class="md-raised md-accent">
        Upload CV
            </md-button>
            <label for="input-file-id" class="md-button md-raised md-primary">Upload CV</label>
            <input ng-click="UploadFile(uploadCV)" ng-model="uploadCV" class="ng-hide" id="input-file-id" multiple type="file" />
            -->
            <md-button ng-click="showConfirm()" class="md-raised">
                Elimina
            </md-button>

            <!--<md-button ng-if="editedObject.username " ng-click="AddRemoveEmployee() " ng-class="{ 'employee': isEmployee} ">
                <span ng-if="!isEmployee ">Add Empoyee</span>
                <span ng-if="isEmployee ">Remove Empoyee</span>
            </md-button>-->
            <span flex></span>
            <md-button type="submit " class="md-raised md-primary ">
                Salva
            </md-button>
            <md-button class="md-raised md-warn " ng-click="cancel() ">
                Cancela
            </md-button>
        </md-dialog-actions>
    </form>

    <!--<div ng-show="uploading " class="progress ">
        <div class="progress-bar progress-bar-striped active " role="progressbar " aria-valuenow="45 " aria-valuemin="0 " aria-valuemax="100 " style="width: 100% ">
            <div class="sr-only "></div>
        </div>
    </div>-->



</md-dialog>