<md-dialog style="height: 80%" flex="50" aria-label="Add/Edit">
    <!--<form ng-submit="main.submitInterview(newInterview)" novalidate ng-cloak>-->
    <form ng-submit="submitInterview(newInterview)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="editedObject.username">Modifica Intervista</h2>
                <h2 ng-if="!editedObject.username">Agiungi Intervista</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>


        <md-dialog-content aria-label="MD Dialog Content">
            <div layout="column" class="md-inline-form inputdemoBasicUsage">

                <md-content class="modal-background" aria-label="MD Content" md-theme="docs-dark" layout-padding="">

                    <md-card>
                        <label class="md-padding text-center">Dati Personali:</label>
                        <div layout-gt-lg="row">
                            <md-input-container aria-label="MD Input Container" class="md-block" flex-gt-lg="">
                                <label>Nome e cognome</label>
                                <input required aria-label="nomecognomeInput" ng-model="newInterview.nomecognome">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Sesso</label>
                                <md-select aria-label="sessoInput" ng-model="newInterview.sesso">
                                    <md-option ng-repeat="sesso in sessi" value="{{sesso}}">
                                        {{sesso}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Eta'</label>
                                <input aria-label="etaInput" ng-model="newInterview.eta">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Telefono</label>
                                <input aria-label="telInput" name="postalCode" ng-model="newInterview.tel">
                                <!--<input aria-label="telInput" name="postalCode" ng-model="newInterview.tel" ng-pattern="/^[0-9]{10}$/">
                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                                <div ng-message="pattern" class="my-message">That doesn't look like a telephone number.</div>
                            </div>-->
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input type="email" ng-model="newInterview.email" aria-label="emailInput" />
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Sito</label>
                                <input ng-model="newInterview.sito" aria-label="sitoInput">
                            </md-input-container>
                        </div>
                    </md-card>

                    <md-card>
                        <label class="md-padding text-center">Dati Intervista:</label>
                        <div layout-gt-lg="row">
                            <md-input-container>
                                <label>Data Applicazione</label>
                                <md-datepicker required ng-model="newInterview.dataapplicazione" aria-label="dataapplicazioneInput"></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Esito 1 chiamata</label>
                                <input ng-model="newInterview.esito1" aria-label="esito1Input">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Esito 2 chiamata</label>
                                <input ng-model="newInterview.esito2" aria-label="esito2Input">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Note</label>
                                <textarea ng-model="newInterview.note" aria-label="noteInput"></textarea>
                            </md-input-container>
                        </div>
                    </md-card>

                    <md-card>
                        <div layout-gt-lg="row">
                            <div layout="column" class="md-padding">
                                <label class="md-padding text-center">Dati Colloquio:</label>
                                <div class="data-colloquio-padding text-center">
                                    <md-card ng-if="newInterview.datarichiamare || DataRichiamareEnabled">
                                        Data Richiamare:
                                        <md-datetime ng-model="newInterview.datarichiamare" no-reset ng-change="dataRichiamareChanged(newInterview.datarichiamare)" aria-label="Da-Richiamare-Aria"></md-datetime>
                                        <md-button ng-click="eliminaDataRichiamare()" class="md-raised data-coll-data-richiamare">
                                            Elimina Data Richiamare
                                        </md-button>
                                    </md-card>
                                    <md-button class="md-raised data-coll-data-richiamare" ng-if="!DataRichiamareEnabled && !newInterview.datarichiamare" ng-click="AggiungiDataRichiamare()"
                                        aria-label="AggiungiDataRichiamare">
                                        <span>Nessun Data Richiamare / Click per Aggiungere</span>
                                    </md-button>
                                </div>
                                <div class="data-colloquio-padding text-center">
                                    <md-card ng-if="newInterview.datacolloquio || DataCollEnabled" >
                                        Data Colloquio:
                                        <md-datetime ng-model="newInterview.datacolloquio" no-reset ng-change="dataCollChanged(newInterview.datacolloquio)" aria-label="mddatetime-Aria"></md-datetime>
                                        <md-button ng-click="eliminaDataColloquio()" class="md-raised data-coll-data-richiamare">
                                            Elimina Data Colloquio
                                        </md-button>
                                    </md-card>
                                    <md-button class="md-raised data-coll-data-richiamare" ng-if="!DataCollEnabled && !newInterview.datacolloquio" ng-click="AggiungiDataColloquio()"
                                        aria-label="AggiungiDataColloquio">
                                        <span>Nessun Data Colloquio / Click per Aggiungere</span>
                                    </md-button>
                                </div>

                                <md-input-container class="md-block" flex-gt-xs="">
                                    <label>Coll sostenuto da</label>
                                    <input ng-model="newInterview.colloquio_sostenuto_da" aria-label="colloquio_sostenuto_daInput">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs="">
                                    <label>Responsabile coll</label>
                                    <input ng-model="newInterview.responsabile_colloquio" aria-label="responsabile_colloquioInput">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs="">
                                    <label>Esito coll</label>
                                    <md-select aria-label="esitocolloquioInput" ng-model="newInterview.esitocolloquio">
                                        <md-option ng-repeat="item in esitocolloqui" value="{{item}}">
                                            {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </md-card>

                    <md-card ng-if="editedObject.username">
                        <label class="md-padding text-center">Dati Caricamenti:</label>
                        <div layout-gt-lg="row">
                            <input class="ng-hide" id="input-file-id" file-model="file.upload" type="file" name="myfile" style="display: none">
                            <label for="input-file-id" class="md-button md-accent md-raised">Browse</label>

                            <div ng-show="!message">{{file.upload.name}}</div>

                            <div ng-show="message">
                                <a ng-if="editedObject.username" href="http://localhost:3000/{{cv}}" target="_blank">{{file.upload.name}} </a>                                {{message}}
                            </div>
                        </div>
                        <div layout-gt-sm="row">
                            <md-button ng-click="SubmitUploadCV()" ng-disabled="!file.upload.name || !uploadCVEnabled" aria-label="ariaSubmitUploadCV"
                                class="md-raised ">
                                <span ng-if="!newInterview.cv">Carica CV</span>
                                <span ng-if="newInterview.cv">Carica Nuovo CV</span>
                            </md-button>
                            <i ng-if="newInterview.cv" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/{{newInterview.cv}}">face</a></i>
                        </div>
                        <div layout-gt-sm="row">
                            <md-button ng-click="SubmitUploadCI()" ng-disabled="!file.upload.name || !uploadCIEnabled" aria-label="ariaSubmitUploadCI"
                                class="md-raised ">
                                <span ng-if="!newInterview.ci">Carica La Carta D'Identita</span>
                                <span ng-if="newInterview.ci">Carica Nuova Carta Identita</span>
                            </md-button>
                            <i ng-if="newInterview.ci" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/{{newInterview.ci}}">credit_card</a></i>
                        </div>
                    </md-card>

                    <div layout-gt-sm="row">
                        <span flex></span>
                        <label ng-if="editedObject.username != null">Creato da {{editedObject.username}}</label>
                    </div>

                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions ng-cloak="" layout="row">
            <md-button ng-if="editedObject.username" ng-click="showConfirm()" class="md-raised">
                Elimina
            </md-button>
            <span flex></span>
            <md-button type="submit " class="md-raised md-primary ">
                Salva
            </md-button>
            <md-button class="md-raised md-warn " ng-click="cancel() ">
                Cancela
            </md-button>
        </md-dialog-actions>
    </form>

</md-dialog>