<md-dialog aria-label="Add/Edit">
    <!--<form ng-submit="main.submitInterview(newInterview)" novalidate ng-cloak>-->
    <form ng-submit="submitInterview(newInterview)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="editedObject.username">Modifica Intervista</h2>
                <h2 ng-if="!editedObject.username">Agiungi Intervista</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>


        <md-dialog-content aria-label="MD Dialog Content">
            <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">

                <md-content aria-label="MD Content" md-theme="docs-dark" layout-padding="">
                    <div layout-gt-sm="row">
                        <md-input-container aria-label="MD Input Container" class="md-block" flex-gt-sm="">
                            <label>Nome e cognome</label>
                            <input required aria-label="nomecognomeInput" ng-model="newInterview.nomecognome">
                        </md-input-container>

                        <!--<md-input-container class="md-block" flex-gt-sm="">
                            <label>Last Name</label>
                            <input aria-label="lastnameInput" ng-model="theMax">
                        </md-input-container>-->

                        <md-input-container>
                            <label>Data Applicazione</label>
                            <md-datepicker required ng-model="newInterview.dataapplicazione" aria-label="dataapplicazioneInput"></md-datepicker>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Sesso</label>
                            <md-select aria-label="sessoInput" ng-model="newInterview.sesso">
                                <md-option ng-repeat="sesso in sessi" value="{{sesso}}">
                                    {{sesso}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Eta'</label>
                                <input aria-label="etaInput" ng-model="newInterview.eta">
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Telefono</label>
                            <input aria-label="telInput" name="postalCode" ng-model="newInterview.tel">
                            <!--<input aria-label="telInput" name="postalCode" ng-model="newInterview.tel" ng-pattern="/^[0-9]{10}$/">
                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                                <div ng-message="pattern" class="my-message">That doesn't look like a telephone number.</div>
                            </div>-->
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Esito 1 chiamata</label>
                            <input ng-model="newInterview.esito1" aria-label="esito1Input">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Esito 2 chiamata</label>
                            <input ng-model="newInterview.esito2" aria-label="esito2Input">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Esito colloquio</label>
                            <md-select aria-label="esitocolloquioInput" ng-model="newInterview.esitocolloquio">
                                <md-option ng-repeat="item in esitocolloqui" value="{{item}}">
                                    {{item}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Colloquio sostenuto da</label>
                            <input ng-model="newInterview.colloquio_sostenuto_da" aria-label="colloquio_sostenuto_daInput">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Responsabile Colloquio</label>
                            <input ng-model="newInterview.responsabile_colloquio" aria-label="responsabile_colloquioInput">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Sito</label>
                            <input ng-model="newInterview.sito" aria-label="sitoInput">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input type="email" ng-model="newInterview.email" aria-label="emailInput" />

                            <!--<input ng-mode="newInterview.email" type="email"minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>-->
                        </md-input-container>

                    </div>

                    <md-input-container class="md-block">
                        <label>Note</label>
                        <textarea ng-model="newInterview.note" aria-label="noteInput"></textarea>
                        <!--<textarea ng-model="newInterview.note" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>-->
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <div ng-if="editedObject.username">
                            <input class="ng-hide" id="input-file-id" file-model="file.upload" type="file" name="myfile" style="display: none">
                            <label for="input-file-id" class="md-button md-accent md-raised">Browse</label>

                            <md-button ng-click="SubmitUpload()" ng-disabled="!file.upload.name" class="md-raised ">
                                Upload CV
                            </md-button>
                            <i ng-if="newInterview.cv" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/uploads/{{newInterview.cv}}">face</a></i>

                            <div ng-show="message">
                                <a ng-if="editedObject.username" href="http://localhost:3000/uploads/{{cv}}" target="_blank">{{file.upload.name}} </a> {{message}}
                            </div>
                            <div ng-show="!message">{{file.upload.name}}</div>
                        </div>
                        <span flex></span>
                        <md-input-container ng-if="editedObject.username != null" class="md-block" flex-gt-sm="">
                            <label>Creato da {{editedObject.username}}</label>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row">
            <!--<md-button type="file" ng-click="UploadFile()" type="file" class="md-raised md-accent">
        Upload CV
            </md-button>
            <label for="input-file-id" class="md-button md-raised md-primary">Upload CV</label>
            <input ng-click="UploadFile(uploadCV)" ng-model="uploadCV" class="ng-hide" id="input-file-id" multiple type="file" />
            -->
            <md-button ng-if="editedObject.username" ng-click="showConfirm()" class="md-raised">
                Elimina
            </md-button>

            <md-menu>
                <md-button ng-class="{'{{interviewStatus}}': interviewStatus, 'isEmployee': interviewStatus == 'isEmployee', 'callLater': interviewStatus =='callLater', 'clear': interviewStatus == 'clear'}" aria-label="OpenStatusMenu" ng-click="$mdMenu.open($event)">
                    <!--<md-button ng-class="{'{{editedObject.interviewStatus}}' : editedObject.interviewStatus, 'isEmployee': interviewStatus == 'isEmployee'}" aria-label="OpenStatusMenu" ng-click="$mdMenu.open($event)">-->
                    <span ng-if="editedObject.interviewStatus && !interviewStatus">{{ editedObject.interviewStatus }}</span>

                    <span ng-if="!editedObject.interviewStatus && !interviewStatus">Status</span>
                    <span ng-if="interviewStatus">{{ interviewStatus }}</span>
                </md-button>
                <md-menu-content width="3 ">
                    <md-menu-item>
                        <md-button ng-click="SetStatus('isEmployee') " class="isEmployee ">
                            Add Employee
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="SetStatus('callLater') " class="callLater ">
                            Call Later
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="SetStatus('clear') " class="clear">
                            Clear
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <!--<md-button ng-if="editedObject.username " ng-click="AddRemoveEmployee() " ng-class="{ 'employee': isEmployee} ">
                <span ng-if="!isEmployee ">Add Empoyee</span>
                <span ng-if="isEmployee ">Remove Empoyee</span>
            </md-button>-->
            <span flex></span>
            <md-button type="submit " class="md-raised md-primary ">
                Salva
            </md-button>
            <md-button class="md-raised md-warn " ng-click="cancel() ">
                Cancela
            </md-button>
        </md-dialog-actions>
    </form>

    <!--<div ng-show="uploading " class="progress ">
        <div class="progress-bar progress-bar-striped active " role="progressbar " aria-valuenow="45 " aria-valuemin="0 " aria-valuemax="100 " style="width: 100% ">
            <div class="sr-only "></div>
        </div>
    </div>-->



</md-dialog>