<md-dialog aria-label="sortModal">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ordinare Interviste</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" class="md-inline-form inputdemoBasicUsage">
            <md-content class="modal-background" aria-label="MD Content" md-theme="docs-dark" layout-padding="">

                <md-card>
                    <label style="text-align:center; padding-bottom:30px;">Ordinare per Data Coloquio:</label>

                        <!--<md-input-container>
                            <label>Da</label>
                            <md-datepicker md-current-view="year" ng-model="fromDate" aria-label="fromDate"></md-datepicker>
                        </md-input-container>
                        <md-input-container>
                            <label>A</label>
                            <md-datepicker ng-model="toDate" aria-label="toDate"></md-datepicker>
                        </md-input-container>
                        <md-button class="md-raised md-fab md-mini" ng-click="RangeFilter(fromDate, toDate)">
                            Vai
                        </md-button>-->
                    <div layout-gt-sm="row">
                        <md-button class="md-raised md-primary" ng-click="getToday()">
                            Oggi
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="getOneWeek()">
                            7 Giorni
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="getOneMonth()">
                            30 Giorni
                        </md-button>
                        <md-input-container>
                            <label>Giorno</label>
                            <md-datepicker ng-model="customDay" aria-label="intCustomDay"></md-datepicker>
                        </md-input-container>
                        <md-button class="md-raised md-fab md-mini md-primary" ng-click="dataColDayFilter(customDay)">
                            Vai
                        </md-button>
                    </div>
                </md-card>

                <md-card>
                    <label style="text-align:center; padding-bottom:30px;">Ordinare per Esito Colloquio:</label>
                    <div layout-gt-sm="row">
                        <md-button class="assunto" ng-click="getAssunti()">
                            Assunti
                        </md-button>
                        <md-button class="da_rivedere" ng-click="getDaRivedere()">
                            Da Rivedere
                        </md-button>
                        <md-button class="scartato" ng-click="getScartati()">
                            Scartati
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="getAll()">
                            Tutti
                        </md-button>
                    </div>
                </md-card>
            </md-content>
        </div>
    </md-dialog-content>

</md-dialog>