<md-dialog aria-label="sortModal">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ordinare Interviste</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-inline-form inputdemoBasicUsage">
            <md-content layout-xs="column" layout="row" class="modal-background md-padding" aria-label="MD Content" md-theme="docs-dark"
                layout-padding="">
                <div layout="column">
                    <md-card>
                        <label class="text-center" style="padding-bottom:30px;">Ordinare per Data Coloquio / Da Richiamare:</label>
                        <div layout-gt-sm="row">
                            <md-button class="data-coll-data-richiamare md-raised" ng-click="getToday()">
                                Oggi
                            </md-button>
                            <md-button class="data-coll-data-richiamare md-raised" ng-click="getOneWeek()">
                                7 Giorni
                            </md-button>
                            <md-button class="data-coll-data-richiamare md-raised" ng-click="getOneMonth()">
                                30 Giorni
                            </md-button>
                            <md-card>
                                <md-input-container>
                                    <label>Giorno</label>
                                    <md-datepicker ng-model="customDay" aria-label="intCustomDay"></md-datepicker>
                                </md-input-container>
                                <md-button class="data-coll-data-richiamare md-raised md-mini" ng-click="dataColDayFilter(customDay)">
                                    Giorno Specifico
                                </md-button>
                            </md-card>
                        </div>
                    </md-card>

                    <md-card>
                        <label class="text-center" style="padding-bottom:30px;">Ordinare per Esito Colloquio:</label>
                        <div layout-align="center" layout-gt-sm="row">
                            <md-button class="assunto" ng-click="getAssunti()">
                                Assunti
                            </md-button>
                            <md-button class="da_rivedere" ng-click="getDaRivedere()">
                                Da Rivedere
                            </md-button>
                            <md-button class="scartato" ng-click="getScartati()">
                                Scartati
                            </md-button>
                        </div>
                    </md-card>
                    <!--<md-card>
                        <label class="text-center" style="padding-bottom:30px;">Ordinare per Data Applicazione:</label>
                        <div layout-align="center" layout-gt-sm="row">
                            <md-input-container>
                                <label>Da</label>
                                <md-datepicker md-current-view="year" ng-model="fromDate" aria-label="fromDate"></md-datepicker>
                            </md-input-container>
                            <md-input-container>
                                <label>A</label>
                                <md-datepicker md-current-view="year" ng-model="toDate" aria-label="toDate"></md-datepicker>
                            </md-input-container>
                            <md-button class="md-raised md-mini" ng-click="RangeFilter(fromDate, toDate)">
                                Vai
                            </md-button>
                        </div>
                    </md-card>-->
                </div>
                <md-button class="md-raised md-primary" ng-click="getAll()">
                    Tutti
                </md-button>
            </md-content>
        </div>
    </md-dialog-content>

</md-dialog>