<md-dialog ng-cloak="" aria-label="Add/Edit">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="toolbarTitle"></div>
            <h2>Statistiche Dipendenti</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content aria-label="MD Dialog Content">
        <div layout="column" class="md-inline-form inputdemoBasicUsage">
            <md-content aria-label="MD Content" md-theme="docs-dark" layout-padding="">
                <div class="md-toolbar-tools">
                    <div flex></div>
                    <md-button class="md-raised md-icon-button" ng-click="loadChartData()">
                        <md-icon>refresh</md-icon>
                    </md-button>
                </div>
                <section layout="row" flex="">
                    <!--Pie-->
                    <canvas height="300" width="300" chart-colors="dougChart.colors" id="pie" class="chart chart-pie" chart-data="dougChart.data" chart-labels="dougChart.labels" chart-options="dougChart.options" chart-series="dougChart.series">
</canvas>
                    <!--Dougnot-->
                    <canvas height="300" width="300" chart-colors="dougChart.colors" chart-options="dougChart.options" class="chart chart-doughnut" chart-data="dougChart.data" chart-labels="dougChart.labels" chart-series="dougChart.series" id="bar"></canvas>
                    <!--Polar-->
                    <canvas height="300" width="300" chart-colors="dougChart.colors" id="polar-area" class="chart chart-polar-area" chart-data="dougChart.data" chart-labels="dougChart.labels" chart-options="dougChart.options" chart-series="dougChart.series">
</canvas>

                    </canvas>
                </section>
            </md-content>
        </div>
    </md-dialog-content>
</md-dialog>