<!--<md-toolbar class="md-table-toolbar md-default">-->
<div class="md-toolbar-tools">
    <div class="toolbarTitle">Dipendenti</div>
    <div flex></div>
    <md-input-container>
        <label>Cerca</label>
        <input ng-model="searchInterview">
    </md-input-container>
    <md-button ng-if="main.group == 'hr' || main.group =='admin'" class="md-raised md-fab md-mini" ng-click="emp.editEmployee()">
        <md-icon>add</md-icon>
    </md-button>
    <md-button class="md-raised md-icon-button" ng-click="emp.sortModal()">
        <md-icon>sort</md-icon>
    </md-button>
    <md-button class="md-raised md-icon-button" ng-click="emp.refresh()">
        <md-icon>refresh</md-icon>
    </md-button>
</div>

<md-card>
    <md-table-container>
        <!--<multiple>-->
        <!--<table md-table md-row-select md-progress="promise" ng-model="selected">-->
        <table md-table="">
            <!--<thead md-head md-order="sort.order" ">-->
            <thead md-head>
                <tr md-row>
                    <th md-column md-order-by="cartaidentita">Carta Identita</th>
                    <th md-column md-order-by="employmentdate">Data di assunzione</th>
                    <th md-column md-order-by="name">Nome e cognome</th>
                    <th md-column md-order-by="cnp">Cnp</th>
                    <th md-column md-order-by="age">Eta'</th>
                    <th md-column md-order-by="tel">Telefono</th>
                    <th md-column md-order-by="department">Departamento</th>
                    <th md-column md-order-by="email">Email</th>
                    <th md-column md-order-by="note">Note</th>
                    <th ng-if="main.group == 'hr' || main.group =='admin'" md-column>Action</th>
                </tr>
            </thead>
            <tbody md-body>
                <!--<tr md-row md-select="item" md-select-id="name" ng-repeat="item in main.interviewsList |  limitTo: sort.limit : (sort.page -1) * sort.limit  | orderBy:sort.order | filter:searchInterview ">-->
                <tr md-row ng-repeat="item in emp.employeessList">
                    <td md-cell><i ng-if="item.cartaidentita" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/uploads/{{item.cv}}">face</a></i></td>
                    <td md-cell>{{ item.employmentdate | date}}</td>
                    <td md-cell>{{ item.name}}</td>
                    <td md-cell>{{ item.department}}</td>
                    <td md-cell>{{ item.cnp}}</td>
                    <td md-cell>{{ item.age}}</td>
                    <td md-cell>{{ item.tel}}</td>
                    <td md-cell>{{ item.email}}</td>
                    <td md-cell>{{ item.note}}</td>
                    <td ng-if="main.group == 'hr' || main.group =='admin'" md-cell>
                        <md-button ng-click="emp.editEmployee(item._id)" class="md-fab md-mini md-warn">
                            <md-icon>edit</md-icon>
                        </md-button>
                    </td>
            </tbody>
            <tfoot md-foot>
                <tr md-row>
                    <td md-cell></td>
                    <td md-cell><strong>Totale: </strong>{{emp.employeessList.length}}</td>
                    <td md-cell colspan="13"></td>
                </tr>
            </tfoot>
        </table>
    </md-table-container>
</md-card>

<md-table-pagination md-limit="sort.limit" md-limit-options="limitOptions" md-page="sort.page" md-total="{{emp.employeessList.length}}" md-on-paginate="promiseInterviews" md-page-select></md-table-pagination>
<!--<md-table-pagination md-limit="sort.limit" md-limit-options="limitOptions" md-page="sort.page" md-total="{{main.interviewsList.length}}" md-on-paginate="promiseInterviews" md-page-select></md-table-pagination>-->