<md-button class="md-raised md-primary md-fab md-mini" ng-click="editInterview()">
    <md-icon>add</md-icon>
</md-button>

<md-input-container>
    <label>Search</label>
    <input ng-model="searchInterview">
</md-input-container>

<md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
    <div class="md-toolbar-tools">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected {{selected[0]._id}} </span>
        <span flex></span>
        <md-button class="md-raised md-accent md-fab md-mini" ng-click="deleteInterview()">
            <md-icon>delete</md-icon>
        </md-button>

    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select md-progress="promise" ng-model="selected" multiple>
        <!--<thead md-head md-order="sort.order" md-on-reorder="getDesserts">-->
        <thead md-head md-order="sort.order" md-on-reorder="sortInterviews()">
            <tr md-row>
                <th md-column>CV</th>
                <th md-column md-order-by="dataapplicazione"><span>Data applicazione</span></th>
                <th md-column md-order-by="nomecognome"><span>Nome e cognome</span></th>
                <th md-column>Sesso</th>
                <th md-column md-numeric>Eta'</th>
                <th md-column md-numeric>Numero di telefono</th>
                <!--<th md-column >Esito 1 chiamata</th>
                    <th md-column >Esito 2 chiamata</th>
                    <th md-column >Note</th>
                    <th md-column >Esito colloquio</th>-->
                <th md-column>Sito</th>
                <th md-column>E-mail</th>
                <th md-column>Created by</th>
                <th md-column>Action</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in main.interviewsList |  limitTo: sort.limit : (sort.page -1) * sort.limit  | orderBy:sort.order | filter:searchInterview ">
                <td md-cell><i ng-if="item.cv" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/uploads/{{item.cv}}">face</a></i></td>
                <td md-cell>{{ item.dataapplicazione | date}}</td>
                <td md-cell>{{ item.nomecognome }}</td>
                <td md-cell>{{ item.sesso }}</td>
                <td md-cell>{{ item.eta }}</td>
                <td md-cell>{{ item.tel }}</td>
                <!--<td md-cell>{{ item.esito1 }}</td>
                    <td md-cell>{{ item.esito2 }}</td>
                    <td md-cell>{{ item.note }}</td>
                    <td md-cell>{{ item.esitocolloquio }}</td>-->
                <td md-cell>{{ item.sito }}</td>
                <td md-cell>{{ item.email }}</td>
                <td md-cell>{{ item.username }}</td>
                <td md-cell>
                    <md-button ng-click="editInterview(item._id)" class="md-fab md-mini md-warn">
                        <md-icon>edit</md-icon>
                    </md-button>
                </td>
        </tbody>
        <tfoot md-foot>
            <tr md-row>
                <td md-cell></td>
                <td md-cell><strong>Total: </strong>{{main.interviewsList.length}}</td>
                <td md-cell colspan="9"></td>
            </tr>
        </tfoot>
    </table>
</md-table-container>
<md-table-pagination md-limit="sort.limit" md-limit-options="[2, 5, 10, 15]" md-page="sort.page" md-total="{{main.interviewsList.length}}" md-on-paginate="sortInterviews" md-page-select></md-table-pagination>