<!--<md-toolbar class="md-table-toolbar md-default">-->
<div class="md-toolbar-tools">
    <!--<div class="toolbarTitle">Interviste</div>-->
    <div flex></div>
    <md-input-container class="cerca">

        <label><md-icon>search</md-icon>Cerca</label>
        <input ng-model="searchInterview">
    </md-input-container>
    <md-button ng-click="editInterview()" ng-if="main.group == 'hr' || main.group =='admin'" class="md-raised md-fab md-mini">
        <md-icon>add</md-icon>
    </md-button>
    <md-button ng-click="sortModal()" class="md-raised md-icon-button">
        <md-icon>sort</md-icon>
    </md-button>
    <md-button ng-click="intChartModal()" class="md-raised md-icon-button">
        <md-icon>trending_up</md-icon>
    </md-button>
    <md-button class="md-raised md-icon-button" ng-click="refresh()">
        <md-icon>refresh</md-icon>
    </md-button>
</div>

<md-card>
    <md-table-container>
        <!--<multiple>-->
        <!--<table md-table md-row-select md-progress="promise" ng-model="selected">-->
        <table md-table="" md-progress="promise">
            <!--<thead md-head md-order="sort.order" ">-->
            <thead md-head md-order="sort.order">
                <tr md-row>
                    <th md-column md-order-by="cv">CV</th>
                    <th class="dataApp" md-column md-order-by="dataapplicazione"><span>Data App</span></th>
                    <th class="dataColl" md-column md-order-by="datacolloquio">Data Colloquio</th>
                    <th class="dataRic" md-column md-order-by="datarichiamare">Data Richiamare</th>
                    <th md-column md-order-by="nomecognome"><span>Nome e cognome</span></th>
                    <!--<th md-column md-order-by="sesso">Sesso</th>-->
                    <th md-column md-order-by="eta">Eta'</th>
                    <th class="tel" md-column md-order-by="tel">Telefono</th>
                    <th class="esito1" md-column md-order-by="esito1">Esito 1 chiamata</th>
                    <th class="note" md-column md-order-by="note">Note</th>
                    <th class="esitocoll" md-column md-order-by="esitocolloquio">Esito coll</th>
                    <th class="sito" md-column md-order-by="sito">Sito</th>
                    <th class="email" md-column md-order-by="email">E-mail</th>
                    <th md-column md-order-by="username">Creato</th>
                    <th class="azione" ng-if="main.group == 'hr' || main.group =='admin'" md-column>Azione</th>
                </tr>
            </thead>
            <tbody md-body>
                <!--<tr md-row md-select="item" md-select-id="name" ng-repeat="item in main.interviewsList |  limitTo: sort.limit : (sort.page -1) * sort.limit  | orderBy:sort.order | filter:searchInterview ">-->
                <tr md-row ng-repeat="item in int.interviewsList   | orderBy:sort.order | filter:searchInterview |  limitTo: sort.limit : (sort.page -1) * sort.limit"
                    ng-class="item.esitocolloquio === 'assunto' ? 'assunto' :  
                                ( item.esitocolloquio === 'scartato' ? 'scartato' :
                                    (item.esitocolloquio === 'da rivedere' ? 'da_rivedere' : 
                                        (item.esitocolloquio != null ? 'no_fill' :
                                            (item.datarichiamare != null || item.datacolloquio != null ? 'data-coll-data-richiamare':
                                                'no_fill'))))">
                    <td md-cell><i ng-if="item.cv" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/{{item.cv}}">face</a></i></td>
                    <td md-cell>{{ item.dataapplicazione | date}}</td>
                    <td md-cell>{{ item.datacolloquio | date :'MMM dd, HH:mm'}}</td>
                    <td md-cell>{{ item.datarichiamare | date :'MMM dd, HH:mm'}}</td>
                    <td md-cell>{{ item.nomecognome }}</td>
                    <!--<td class="sesso" md-cell>{{ item.sesso }}</td>-->
                    <td md-cell>{{ item.eta }}</td>
                    <td class="tel" md-cell>{{ item.tel }}</td>
                    <td ng-init="esito1Limit = 15; moreEsito1Shown = false" class="esito1" md-cell>
                        {{ item.esito1 | limitTo: esito1Limit}}{{item.esito1.length > esito1Limit ? '...' : ''}}
                        <a ng-show="item.esito1.length > esito1Limit" href ng-click="esito1Limit=item.esito1.length; moreEsito1Shown = true"><p>Più</p></a>
                        <a ng-show="moreEsito1Shown" href ng-click="esito1Limit=15; moreEsito1Shown = false"> Meno </a>
                    </td>
                    <td ng-init="noteLimit = 15; moreNoteShown = false" class="note" md-cell>
                        {{ item.note | limitTo: noteLimit }}{{item.note.length > noteLimit ? '...' : ''}}
                        <a ng-show="item.note.length > noteLimit" href ng-click="noteLimit=item.note.length; moreNoteShown = true"><p>Più</p></a>
                        <a ng-show="moreNoteShown" href ng-click="noteLimit=15; moreNoteShown = false"> Meno </a>
                    </td>
                    <td class="esitocolloquio" md-cell>{{ item.esitocolloquio }}</td>
                    <!--<td class="sito" md-cell>{{ item.sito }}</td>-->
                    <td ng-init="sitoLimit = 7; moreSitoShown = false" class="sito" md-cell>
                        {{ item.sito | limitTo: sitoLimit}}{{item.sito.length > sitoLimit ? '...' : ''}}
                        <a ng-show="item.sito.length > sitoLimit" href ng-click="sitoLimit=item.sito.length; moreSitoShown = true"><p>Più</p></a>
                        <a ng-show="moreSitoShown" href ng-click="sitoLimit=7; moreSitoShown = false"> Meno </a>
                    </td>
                    <td ng-init="emailLimit = 7; moreEmailShown = false" class="email" md-cell>
                        {{ item.email | limitTo: emailLimit}}{{item.email.length > emailLimit ? '...' : ''}}
                        <a ng-show="item.email.length > emailLimit" href ng-click="emailLimit=item.email.length; moreEmailShown = true"><p>Più</p></a>
                        <a ng-show="moreEmailShown" href ng-click="emailLimit=7; moreEmailShown = false"> Meno </a>
                    </td>
                    <td md-cell>{{ item.username }}</td>
                    <td ng-if="main.group == 'hr' || main.group =='admin'" md-cell>
                        <md-button ng-click="editInterview(item._id)" class="md-fab md-mini md-warn">
                            <md-icon>edit</md-icon>
                        </md-button>
                    </td>
            </tbody>
            <tfoot md-foot>
                <tr md-row>
                    <td md-cell></td>
                    <td md-cell><strong>Totale: </strong>{{int.interviewsList.length}}</td>
                    <td md-cell colspan="13"></td>
                </tr>
            </tfoot>
        </table>
    </md-table-container>
</md-card>

<md-table-pagination md-limit="sort.limit" md-limit-options="limitOptions" md-page="sort.page" 
    md-total="{{int.interviewsList.length}}" md-on-paginate="promiseInterviews" md-page-select
    md-label="{ page: 'Pagina', rowsPerPage: 'Righe per Pagina', of: 'da' }">
</md-table-pagination>
<!--<md-table-pagination md-limit="sort.limit" md-limit-options="limitOptions" md-page="sort.page" md-total="{{main.interviewsList.length}}" md-on-paginate="promiseInterviews" md-page-select></md-table-pagination>-->