<!--<md-toolbar class="md-table-toolbar md-default">-->
<div class="md-toolbar-tools">
    <div class="toolbarTitle">Interviste</div>
    <div flex></div>
    <md-input-container>
        <label>Cerca</label>
        <input ng-model="searchInterview">
    </md-input-container>
    <md-button ng-if="main.group == 'hr' || main.group =='admin'" class="md-raised md-fab md-mini" ng-click="editInterview()">
        <md-icon>add</md-icon>
    </md-button>
    <md-button class="md-raised md-icon-button" ng-click="sortModal()">
        <md-icon>sort</md-icon>
    </md-button>
    <md-button class="md-raised md-icon-button" ng-click="loadStuff()">
        <md-icon>refresh</md-icon>
    </md-button>
</div>

<!-- Toolbar with span flex and hue
        <md-toolbar>
        <div class="md-toolbar-tools">

            <h1 class="md-title">sss</h2>
                <span flex></span>

                <md-input-container>
                    <label>Search</label>
                    <input ng-model="searchInterview">
                </md-input-container>
                <md-button class="md-raised md-fab md-mini" ng-click="editInterview()">
                    <md-icon>add</md-icon>
                </md-button>
                <md-button class="md-raised md-icon-button" ng-click="sortModal()">
                    <md-icon>sort</md-icon>
                </md-button>
                <md-button class="md-raised md-icon-button" ng-click="loadStuff()">
                    <md-icon>refresh</md-icon>
                </md-button>
        </div>
    </md-toolbar>-->
<md-card>
    <md-table-container>
        <!--<multiple>-->
        <!--<table md-table md-row-select md-progress="promise" ng-model="selected">-->
        <table md-table="" md-progress="promise">
            <!--<thead md-head md-order="sort.order" ">-->
            <thead md-head md-order="sort.order">
                <tr md-row>
                    <th md-column md-order-by="cv">CV</th>
                    <th md-column md-order-by="dataapplicazione"><span>Data app</span></th>
                    <th md-column md-order-by="nomecognome"><span>Nome e cognome</span></th>
                    <th md-column md-order-by="sesso">Sesso</th>
                    <th md-column md-order-by="eta">Eta'</th>
                    <th class="tel" md-column md-order-by="tel">Telefono</th>
                    <th md-column md-order-by="esito1">Esito 1 chiamata</th>
                    <!--<th md-column md-order-by="esito2">Esito 2 chiamata</th>-->
                    <th md-column md-order-by="note">Note</th>
                    <th md-column md-order-by="esitocolloquio">Esito colloquio</th>
                    <th md-column md-order-by="sito">Sito</th>
                    <th md-column md-order-by="email">E-mail</th>
                    <th md-column md-order-by="username">Creato da</th>
                    <th ng-if="main.group == 'hr' || main.group =='admin'" md-column>Action</th>
                </tr>
            </thead>
            <tbody md-body>
                <!--<tr md-row md-select="item" md-select-id="name" ng-repeat="item in main.interviewsList |  limitTo: sort.limit : (sort.page -1) * sort.limit  | orderBy:sort.order | filter:searchInterview ">-->
                <tr md-row ng-repeat="item in main.interviewsList   | orderBy:sort.order | filter:searchInterview |  limitTo: sort.limit : (sort.page -1) * sort.limit" ng-class="{'{{item.interviewStatus}}' : item.interviewStatus}">
                    <td md-cell><i ng-if="item.cv" class="material-icons"><a target="blank" href="http://192.168.0.4:3000/uploads/{{item.cv}}">face</a></i></td>
                    <td md-cell>{{ item.dataapplicazione | date}}</td>
                    <td md-cell>{{ item.nomecognome }}</td>
                    <td class="sesso" md-cell>{{ item.sesso }}</td>
                    <td md-cell>{{ item.eta }}</td>
                    <td class="tel" md-cell>{{ item.tel }}</td>
                    <td class="esito1" md-cell>{{ item.esito1 }}</td>
                    <!--<td md-cell>{{ item.esito2 }}</td>-->
                    <td class="note" md-cell>{{ item.note }}</td>
                    <td class="esitocolloquio" md-cell>{{ item.esitocolloquio }}</td>
                    <td class="sito" md-cell>{{ item.sito }}</td>
                    <td class="email" md-cell>{{ item.email }}</td>
                    <td md-cell>{{ item.username }}</td>
                    <td ng-if="main.group == 'hr' || main.group =='admin'" md-cell>
                        <md-button ng-click="editInterview(item._id)" class="md-fab md-mini md-warn">
                            <md-icon>edit</md-icon>
                        </md-button>
                    </td>
            </tbody>
            <tfoot md-foot>
                <tr md-row>
                    <td md-cell></td>
                    <td md-cell><strong>Totale: </strong>{{main.interviewsList.length}}</td>
                    <td md-cell colspan="13"></td>
                </tr>
            </tfoot>
        </table>
    </md-table-container>
</md-card>

<md-table-pagination md-limit="sort.limit" md-limit-options="limitOptions" md-page="sort.page" md-total="{{main.interviewsList.length}}" md-on-paginate="promiseInterviews" md-page-select></md-table-pagination>
<!--<md-table-pagination md-limit="sort.limit" md-limit-options="limitOptions" md-page="sort.page" md-total="{{main.interviewsList.length}}" md-on-paginate="promiseInterviews" md-page-select></md-table-pagination>-->