/*header .navbar {
    border-radius: 0;
}

.reset {
    float: right;
}*/


/* NGANIMATE
====================== */


/* show and hide */


/*.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}*/


/* ANIMATIONS
====================== */

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}


/*Table Toolbar*/

.sortToolbar {}


/*TABLE*/

th {
    background-color: #F0F0F0;
}

.selected {
    background-color: #F0F0F0;
}

.md-button.md-fab.md-mini {
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
}

.mythumbnail {
    width: 100%;
    height: 100%;
    max-width: 50px;
}


/*body,
md-content {
    background-color: #f5f5f5 !important;
}*/

body>md-toolbar {
    z-index: 3;
}

md-toolbar.md-table-toolbar.alternate {
    color: #1e88e5;
    background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
    font-size: 16px;
}

md-card:first-child {
    padding: 8px 8px 8px 24px;
}

.checkboxes>md-checkbox {
    margin: 0;
    padding: 16px;
    min-width: 300px;
    flex: 0 0 auto;
}

.label {
    font-size: 100%;
    color: #707070;
}

table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0px !important;
}

table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0px !important;
}

table.md-table td.md-cell {
    font-size: 12px;
}


/*clear padding on Edit button*/

table.md-table td.md-cell:last-child,
table.md-table th.md-column:last-child {
    padding: 0px;
}

table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0px !important;
}


/*clear padding for select to delete checkbox*/

table.md-table td.md-cell:first-child,
table.md-table th.md-column:first-child {
    width: 10px;
    padding: 0 0 0 5px;
}

table.md-table:not(.md-row-select) td.md-cell:first-child,
table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0 0px;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0px;
}


/*toolbar color reset to white*/

md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button {
    color: white;
}

.md-toolbar-tools {
    font-size: 13px;
}


/*clear padding for cv icon*/


/*table.md-table:not(.md-row-select) td.md-cell:first-child {
    padding: 5px;
}*/

table.md-table th.md-column {
    font-size: 11px;
}

.tel {
    max-width: 70px;
    word-wrap: break-word;
}


/*.note,
.esito1,
.esitocolloquio,
.sito,
.email {
    max-width: 100px;
    word-wrap: break-word;
}*/

a {
    text-decoration: none !important;
}

.loginScreen {
    margin-top: 50px;
    background-color: white;
}

.loginBox {
    /*max-width: 90%;
    width: 500px ;*/
    margin: auto;
    width: 50%;
    padding: 10px;
}

.stretch input {
    width: 100%
}

.menuSilder {
    margin-left: 10px;
    margin-top: 10px;
}

.employee {
    background-color: lightgreen
}


/*.bottomSheetdemoBasicUsage md-toast .md-toast-content {
    background-color: #B14141;
}

.bottomSheetdemoBasicUsage md-toast>* {
    font-weight: bolder;
}*/


/*.bumpmenu {
    padding-top: 60px;
}*/


/*
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}*/