<!--<div class="loginScreen" layout="column" flex id="content" role="main">-->
<card>
    <md-content class="loginScreen" layout="vertical" flex id="content">
        <div class="loginBox md-whiteframe-z1" layout="column">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Login</span></h2>
            </md-toolbar>
            <br>
            <md-content class="md-padding" layout="column">
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="main.loginData.username" type="text" />
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="main.loginData.password" />
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px">
                    <md-button ng-click="main.doLogin(loginData)" class="md-raised md-primary">Login</md-button>
                    <span ng-show="main.isLoading" class="fa fa-circle-o-notch fa-spin" style="font-size:25px;color:red"></span>
                    <div flex="flex"></div>
                    <!--<md-button href="/register" md-no-ink="md-no-ink">Register</md-button>-->
                </div>
                Demo (username: hr  password: hr)
            </md-content>
            <div ng-show="main.successMsg" class="row show-hide-message">
                <div class="alert alert-success">{{ main.successMsg }}</div>
            </div>
            <div ng-show="main.errorMsg" class="row show-hide-message">
                <div class="alert alert-danger">{{ main.errorMsg}}</div>
            </div>
        </div>
    </md-content>

</card>
<!--</div>-->

<!--<div class="page-header">
    <h3>User Login</h3>
</div>
<form ng-submit="main.doLogin(loginData)">
    <label>Username:</label>
    <input ng-model="main.loginData.username" class="form-control" type="text" name="username" placeholder="please enter username">
    <br>
    <label>Password</label>
    <input ng-model="main.loginData.password" class="form-control" type="password" name="password" placeholder="please enter-password">
    <br>
    <button class="btn btn-primary" type="submit">Login</button>

    <a ng-show="!main.isLoggedIn" href="/register">Register</a>
</form>

<br>



<br>-->